.slider
  position: relative

.slider__body,.slider__item
  +pro

.slider__arrows
  position: relative
  +absolute( 100%, 30px, 50%,  0%,  null,0,-50%)
  +alic
  z-index: 2
.slider__arrow
  +center
  +absolute( 30px, 30px, 0%,  null,  null,null,null)
  top: auto
  background: transparent
  border-radius: 50%
  font-size: 18px
  color: $dark-1
  transition: all 0.2s ease-in-out
  &:hover
    cursor: pointer
    +bg($active)
    color: white

.slider__arrow_prev
  left: 10px
.slider__arrow_next
  right: 10px

.slider__body--article-slider
  .slick-slide
    margin: 0 7px
  

.art_inner-article__data-body
  padding: 0 85px!important
  +pro
  background: #F5F7F9

.slider-js-duble--1
  padding: 14px 0
  height: 72px
  
  border-radius: 6px
  .slick-slide
    margin: 0 15px 0 0
    // padding: 0 15px 0 0	
    // margin: 0 -12px 0 0
    transition: all .2s ease-in-out
    // max-width: 52px!important 
  .slick-current
    li
      transition: all 0.2s ease-in-out
      +bg($active)
      .slider-card__title
        color: white
  .slider-cards__item
    +center
    display: flex !important
    padding: 0 0 0 0
    +pro
    // min-width: 52px
    height: 44px
    background: #FFFFFF
    border-radius: 6px
  .slider-card__title
    font-family: Open Sans
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 24px
    color: #535C69
    
  .slider__body
    
    // min-height: 400px
    // +bg(blue)
  .slick-arrow
    position: absolute
    top:50%
    transform: translateY(-50%)
    z-index: 20
    font-size: 0
    border-radius: 50%
    // +bg( blue )
    transition: all 0.2s ease-in-out
    width: 52px
    height: 44px
    background: #fff
    border-radius: 6px
    i
      font-size: 20px
      transition: all 0.2s ease-in-out
      color: $active

    &:hover
      cursor: pointer
      // +bg( blue )
      opacity: .5
      i
        
  .slick-prev
    left: -67px
  .slick-next
    right: -67px



//------.slider-massages-js-1--------
.slider-massages-js-1
  .slick-dots li:not(.slick-active)
      display: none
  .slick-active
      z-index: 2
      display: inline-flex
      +absolute( 60px, 38px, null, null, 25px,0,0)
      bottom:  20px
  .slick-dots-current
      font-weight: normal
      font-size: 14px
      // color: $white
      margin: 0 0 0 
  .slick-dots-total
      font-weight: normal
      // color: $white
      font-size: 14px
      margin: 0 0 0 
  .slick-dots-separator
      // color: white
      font-size: 15px
      font-weight: normal
      margin: 0 5px
  .slick-dots-button
      +center 
      background: transparent
      width: 60px
      height: 38px
      border-radius: 10px
      position: relative
      font-weight: bold
      font-size: 14px
      line-height: 18px
      color: #818B9A
      font-family: 'PT Sans', sans-serif
  




.slider__arrows--massages
  bottom: 28px!important
  transform: translate(0,0)
  height: 20px
  width: 60px
  top: auto
  left: auto !important
  right :25px
  z-index: 5

.slider__arrow--massages
    +absolute( auto, auto, 0, auto,  auto,0,0)
    width: 20px!important
    height: 20px!important
    +bg(transparent!important)
    font-size: 18px!important
    color: #818B9A!important
    z-index: 3
    &:hover
      cursor: pointer

.slider__arrow_prev--massages
  left:-3px
.slider__arrow_next--massages
  right:-8px



// .slider__slider--history
//   margin: 83px 0  0
//   +bg(white)
// .slider__arrows--history
//   top: -135px!important
//   transform: translate(0,0)
//   height: 44px
// .slider__arrow--history
//     +absolute( 52px, 44px, 63px,  auto,  auto,0,0)
//     border-radius: 6px!important
//     +bg(white!important)
//     font-size: 18px!important
//     color: #29A7DC!important
//     z-index: 3
//     &:hover
//       cursor: pointer

// .slider__arrow_prev--history
//   left:20px
// .slider__arrow_next--history
//   right:20px
  
// .slider-js-2
//   .slick-dots
//     +jucb
//     +alic
//     padding: 0 87px	
//     position: relative
//     +absolute(100%,72px,-86px,0,auto,0%,0%)
//     background: #F5F7F9
//     border-radius: 6px
//     flex-wrap: nowrap
    
//     &:after
//       content: ""
//       background-color: #F5F7F9
//       position: absolute
//       width: 92px
//       height: 72px
//       top: 0% 
//       right: 0
//       z-index: 2
//       // box-shadow: -25px 0px 20px -7px #F5F7F9
//   .slick-dots 
//     overflow: hidden
//     li
//       background: #fff
//       border-radius: 6px
//       min-width: 52px!important
//       height: 44px!important
//       +center
//       transition: all 0.2s ease-in-out
//       margin: 0 7px
//       color: #535C69
//       font-weight: bold
//       font-size: 14px
//       line-height: 24px
//       transition: all 0.2s ease-in-out
//       &:hover
//         cursor: pointer
//       button
//         display: none

//     li.slick-active
//       background: #29A7DC
//       color: white
    // li
      // position: relative
      // transition: all 0.2s ease-in-out
      // .dot-content
      //   +center
      //   background: transparent
      //   border-radius: 6px
      //   position: absolute
      //   width: 52px!important
      //   height: 44px!important
      //   color: #535C69
      //   font-weight: bold
      //   font-size: 14px
      //   line-height: 24px
      //   top: 0 
      //   left: 0
      //   z-index: 2
      //   transition: all 0.2s ease-in-out
    

