main#art_inner-home.art_inner.art_inner--home

    .art_container
        .art_inner__wrapper.art_inner__wrapper--home
          section.art_inner__content.art_inner__content--home.art_inner-content  
            article.art_inner-content__article.art_inner-content__article--news.art_board.art_inner-article
              h2.art_inner-article__title.art_inner-article__title--news.art_title новости компании <a href="#!" class="art_inner-article__link">  Все новости </a>
              ul.art_inner-article__cards  
                  li.art_inner-article__card
                    a(href="#!").art_inner-article-card
                      .art_inner-article-card__title  Эй-Пи Трейд 25 лет!
                  li.art_inner-article__card
                    a(href="#!").art_inner-article-card
                      .art_inner-article-card__title  Интеграция логистики
                  li.art_inner-article__card
                    a(href="#!").art_inner-article-card
                      .art_inner-article-card__title  Интеграция компаний
            article.art_inner-content__article.art_inner-content__article--news.art_board.art_inner-article
              h2.art_inner-article__title.art_inner-article__title--news.art_title сервисы и заявки <a href="#!" class="art_inner-article__link">  Все сервисы </a>
              ul.art_inner-article__serices.art_inner-article-serices
                

                - 
                  items = [
                      { url: "assets/img/home/img-11.webp " },
                      { url: "assets/img/home/img-12.webp " },
                      { url: "assets/img/home/img-13.webp " },
                      { url: "assets/img/home/img-14.webp " },
                      { url: "assets/img/home/img-15.webp " },
                      { url: "assets/img/home/img-16.webp " },
                    ]

                each item in items
                  li.art_inner-article-serices__service
                    a(href="#!").art_inner-article-card
                      img(src=item.url,alt="img")
                    .art_inner-article-serices__hint  Справки
          
          aside.art_inner__vidget.art_inner__vidget--home.art_vidget-home
            section.art_vidget-home__massages.art_board.art_home-massages 
              .art_home-massages__top.art_title-top Важные сообщения
              
              .art_home-massages__slider.art-massages-slider
                .slider__slider.slider
                        .slider__arrows.slider__arrows--massages
                            i.slider__arrow--massages.slider__arrow_prev.slider__arrow_prev--massages.icon-chevron-left
                            i.slider__arrow--massages.slider__arrow_next.slider__arrow_next--massages.icon-chevron-right
                        ul.slider__body.slider-massages-js-1
                          - 
                            slides = [
                                {  img:"./assets/img/slider/img-1.webp"},
                                {  img:"./assets/img/slider/img-2.webp"},
                                {  img:"./assets/img/slider/img-3.webp"},
                                {  img:"./assets/img/slider/img-4.webp"},
                                {  img:"./assets/img/slider/img-5.webp"},
                            ]
                          each item in slides
                            li.slider__item.slider__item--massages
                                .art_decor.art_decor--massages
                                .art-massages-slider__sheap 
                                  .cheap
                                    img.cheap__img(src="assets/img/home/img-1.webp",alt="img")
                                    h5.cheap__title Надежда Пронина
                                    p.cheap__text  Текст сообщения от пользователя в несколько строк

                                button.btn.btn--empty(type='button').art-massages-slider__button  Прочитано
            
            
            
            section.art_vidget-home__birthday.art_board.art_home-birthday
              .art_home-birthday__top.art_title-top Дни рождения
              ul.art_home-birthday__items
                li.art_home-birthday__item.art_home-birthday__item--active
                                .cheap
                                  img.cheap__img(src="assets/img/home/img-1.webp",alt="img")
                                  h5.cheap__title Иван Петров
                                  p.cheap__text  Сегодня
                                .art_home-birthday__img--birthday
                                  img(src="assets/img/home/img-2.svg",alt="img")
                - 
                    items = [
                      { title: " Дмитрий Пискарев", text: "23 Февраля 2020"},
                      { title: " Андрей Истомин", text: "2 Марта 2020"},
                      { title: " Александр Нурма", text: "22 Марта 2020"},
                      { title: " Надежда Михой", text: "12 Января 2020"},
                    ]
                
                each item in items
                  li.art_home-birthday__item
                      .cheap
                          img.cheap__img(src="assets/img/home/img-1.webp",alt="img")
                          h5.cheap__title=item.title
                          p.cheap__text=item.text
                      .art_home-birthday__img--birthday
                        img(src="assets/img/home/img-2.svg",alt="img")
              .art_decor.art_decor--birthday
              button.btn.btn--empty(type='button').art_home-birthday__button  Показать больше
            
            section.art_vidget-home__events.art_board.art_home-events
              .art_home-events__top.art_title-top ближайшие события
                a(href="#!").art_home-events__link +
              ul.art_home-events__items.art_home-items
                li.art_home-items__item
                    .cheap
                                    .art_home-items__data.art_home-items-data
                                      .art_home-items-data__day ПН
                                      .art_home-items-data__number 11

                                    h5.cheap__title Сегодня, 19:15 - 20:15
                                    p.cheap__text  Проектирование по проекту АБС №12345
                li.art_home-items__item
                    .cheap
                                    .art_home-items__data.art_home-items-data
                                      .art_home-items-data__day вт
                                      .art_home-items-data__number 12

                                    h5.cheap__title Завтра, 19:15 - 20:15
                                    p.cheap__text  Новое событие
                li.art_home-items__item
                    .cheap
                                    .art_home-items__data.art_home-items-data
                                      .art_home-items-data__day вт
                                      .art_home-items-data__number 12

                                    h5.cheap__title Завтра, 20:15 - 22:15
                                    p.cheap__text  Новое событие
                li.art_home-items__item
                    .cheap
                                    .art_home-items__data.art_home-items-data
                                      .art_home-items-data__day ср
                                      .art_home-items-data__number 13

                                    h5.cheap__title Завтра, 19:15 - 20:15
                                    p.cheap__text  Новое событие
            
            section.art_vidget-home__interview.art_board.art_home-interview
              .art_home-interview__top.art_title-top  Опросы
              ul.art_home-interview__items.art_home-interview-items
                li.art_home-interview-items__item
                  
                  .cheap
                                    img.cheap__img(src="assets/img/home/img-3.webp",alt="img")
                                    h5.cheap__title Требуют заполнения
                                    a(href="#!").art_home-interview-items__number.art_home-interview-items__number--active 2
                li.art_home-interview-items__item
                  
                  .cheap
                                    img.cheap__img(src="assets/img/home/img-4.webp",alt="img")
                                    h5.cheap__title Заполнено за 30 дней
                                    a(href="#!").art_home-interview-items__number 18

            section.art_vidget-home__social.art_board.art_home-social
              .art_home-social__top.art_title-top Cоц. сети
              ul.art_home-social__items.art_home-social-items
                li.art_home-social-items__item.art_home-social-items-item
                  .cheap
                    a(href="#!").cheap__img
                      img(src="assets/img/home/img-6.svg",alt="img")
                    h5.cheap__title Instagram #1
                li.art_home-social-items__item.art_home-social-items-item
                  .cheap
                    a(href="#!").cheap__img
                      img(src="assets/img/home/img-6.svg",alt="img")
                    h5.cheap__title Instagram #2
                
                li.art_home-social-items__item.art_home-social-items-item
                  .cheap
                    a(href="#!").cheap__img
                      img(src="assets/img/home/img-5.svg",alt="img")
                    h5.cheap__title Telegram #3
                li.art_home-social-items__item.art_home-social-items-item
                  .cheap
                    a(href="#!").cheap__img
                      img(src="assets/img/home/img-7.svg",alt="img")
                    h5.cheap__title Telegram #3
