section#modaL.modaL
  .popup.slide-1-popup
      .popup__overlay
        .popup__inner
          i.icon-x.close-js
          #player
            video#player.player-1(poster='assets/img/article-1/img-1.webp' playsinline='' controls='')
              source(src='assets/img/video-1.mp4' type='video/mp4')
              source(src='assets/img/video-1.mp4' type='video/webm')
              track(kind='captions' label='Английские субтитры' src='/path/to/captions.vtt' srclang='en' default='')
  
  .popup.slide-2-popup
      .popup__overlay
        .popup__inner
          i.icon-x.close-js
          #player.player-2(data-plyr-provider='youtube' data-plyr-embed-id="75UQsEeH0jo")
  .popup.slide-3-popup
      .popup__overlay
        .popup__inner
          i.icon-x.close-js
          #player.player-3(data-plyr-provider='youtube' data-plyr-embed-id="vr0qNXmkUJ8")
  .popup.slide-4-popup
      .popup__overlay
        .popup__inner
          i.icon-x.close-js
          #player.player-4(data-plyr-provider='youtube' data-plyr-embed-id="x4Xb8yACha4")


