section#modaL.modaL
  .popup.slide-1-popup
      .popup__overlay
        .popup__inner
          i.icon-x.close-js
          #player.player-1(data-plyr-provider='youtube' data-plyr-embed-id="bTqVqk7FSmY")
  .popup.slide-2-popup
      .popup__overlay
        .popup__inner
          i.icon-x.close-js
          #player.player-2(data-plyr-provider='youtube' data-plyr-embed-id="75UQsEeH0jo")
  .popup.slide-3-popup
      .popup__overlay
        .popup__inner
          i.icon-x.close-js
          #player.player-3(data-plyr-provider='youtube' data-plyr-embed-id="vr0qNXmkUJ8")
  .popup.slide-4-popup
      .popup__overlay
        .popup__inner
          i.icon-x.close-js
          #player.player-4(data-plyr-provider='youtube' data-plyr-embed-id="x4Xb8yACha4")


