extends ../layout/main
block header
  //- include ../modules/header
  //- include ../modules/first
block content
  include ../modules/art_top
  include ../modules/art_inner
  include ../modules/modal
block footer
  //- include ../modules/modal
  //- include ../modules/footer
  