extends ../layout/main
block header
  //- include ../modules/header
  //- include ../modules/first
block content
  include ../modules/art_inner-home
block footer
  //- include ../modules/modal
  //- include ../modules/footer
  