
  
  
//------.art_inner--home--------
.art_inner--home
  margin: 0 0 0 0
  background: #EEF2F4


//------.art_inner__content--home--------
.art_inner__content--home
  margin: 20px 20px 0 25px

  
  // .art_inner__vidget
//--------------
.art_inner__vidget--home
  margin: 20px 0 0 0
  position: relative
  top: 0
  right: 0



//------.art_massages-top--------
.art_title-top
  +alic
  height:50px
  padding: 0 0 0 20px
  line-height: 19px
  text-transform: uppercase
  color: #FFFFFF
  border-radius: 4px 4px 0px 0px
//------.art_home-massages__top--------
.art_home-massages__top
  +bg(#DB652A)
//------.art_home-events__top--------
.art_home-birthday__top
  +bg(#53A910)
//------.art_home-events__top--------
.art_home-events__top
  +bg(#FFA218)
//------.art_home-interview__top--------
.art_home-interview__top
  +bg(#1061AA)
//------.art_home-social__top--------
.art_home-social__top
  +bg(#29A7DC)
//------.art_decor--------
.art_decor
  position: relative
  +absolute(100px,114px,auto,auto,0,0%,0%)
  bottom :0
  overflow: hidden
  &:after
    content: ""
    background-color: white
    position: absolute
    width: 100%
    height: 150%
    top: 0
    left: 0
    z-index: 3
    transform: translate(-34%,-39%) rotate(41deg)


//------.art_decor--massages--------
.art_decor--massages
  +bg(#FFEBE1)
 
//------.art-massages-slider__button--------
.art-massages-slider__button
  width:110px
  height:38px
  border: 1px solid #29A7DC
  font-size: 12px
  line-height: 16px
  color: #29A7DC
  +absolute(110px,38px,auto,20px,auto,0%,0%)
  bottom: 20px

//--------------
.art-massages-slider__sheap
  *
    +bg(transparent)
    border: none
  img
    width: 38px
    height: 38px
  h5
    font-size: 13px
    line-height: 18px
    font-weight: bold
    padding: 0 0 0 9px	
  p
    font-size: 12px
    line-height: 16px
    letter-spacing: 0.015em
    color: #818B9A
    font-weight: normal
    padding: 5px 0 0 9px
    z-index: 5
    position: relative

// ======================================================
//------art_home-birthday__items--------
.art_home-birthday__items
  padding: 22px 20px 65px 


//------.art_home-birthday__item--------
.art_home-birthday__item
  padding: 0
  margin: 0 0 17px


//------.art_home-birthday__item--------
.art_home-birthday__item 
  *
    +bg(transparent)
    border: none
  .cheap >img
    width: 38px
    height: 38px
  h5
        font-size: 13px
        line-height: 18px
        font-weight: bold
        padding: 0 0 0 13px
  p
        font-size: 12px
        line-height: 16px
        letter-spacing: 0.015em
        color: #818B9A
        font-weight: normal
        padding: 4px 0 0 13px
        z-index: 5
        position: relative



//------.slider__item--massages--------
.slider__item--massages
  position: relative
  width:100%
  min-height:155px
  padding: 16px 0 20px 20px

//------.art_home-birthday__button--------
.art_home-birthday__button
  border: 1px solid #DADCE1
  font-weight: bold
  font-size: 12px
  line-height: 16px
  color: #C4C4C4
  width: 151px
  height: 38px
  position: absolute
  bottom: 20px
  left: 20px

//------.art_home-birthday__img--birthday--------
.art_home-birthday__img--birthday
  display: none
  +absolute(38px,38px,50%,auto,11px,0%,-50%)
  background: #53A910
  border-radius: 50%

//------.art_home-birthday__item--active--------
.art_home-birthday__item--active
  +bg(#E8F8DD)
  padding: 12px 0 14px 12px
  border-left: 2px solid #5AC000
  position: relative
  p
    padding: 0 0 0 13px!important	
  &> .art_home-birthday__img--birthday
    +center


.art_vidget-home section
  margin: 0 0 20px 0

//------.art_decor--birthday--------
.art_decor--birthday
  background: #E9F8DD

// =================
.art_home-events__items
  padding: 20px 
.art_home-items

.art_home-items__item
  min-height: 62px
  margin: 0 0 16px 0
  &:last-child
    margin: 0 0 0 0
  *
    +bg(transparent)
    border: none
  h5
    font-weight: normal
    font-size: 13px
    line-height: 18px
    padding: 0 0 0 27px	
  p
    font-weight: normal
    font-size: 13px
    line-height: 18px
    color: #29A7DC
    padding: 3px 84px 0 27px
.art_home-items__data
  margin: 0 0 0 -40px
.art_home-items-data
  clear: left
  float: left
  padding: 2px 0 0 0	
  width: 52px
  height: 62px 
  background: #FFA218
  border-radius: 4px
  +fdc
  +alic
  flex-wrap: nowrap
.art_home-items-data__day 
  font-weight: bold
  font-size: 12px
  line-height: 16px
  text-transform: uppercase
  color: #FFFFFF
  padding: 0 0 2px 0	
.art_home-items-data__number
  background: #FFFFFF
  border-radius: 4px 
  font-weight: bold
  font-size: 20px
  line-height: 27px
  text-transform: uppercase
  width: 42px
  height: 35px
  +center

.art_home-events__top
//--------------

  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  +alic

  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------


.art_home-interview__items
  padding: 22px 20px 20px	
  *
    +bg(transparent)
    border: none





.art_home-events__link
  margin: 0 15px 0 auto
  width: 18px
  height: 18px
  border: 1px solid #FFFFFF
  border-radius: 50%
  +center
  color: white
  line-height: 1
.art_home-interview-items__item
  background: #EEF2F4
  border-radius: 4px
  padding: 9px 10px 12px 17px
  margin: 0 0 10px 0
  &:last-child
    margin: 0 0 0 0
.art_home-interview-items__item > 
  .cheap

    +jucb
    +alic
    h5 
      font-weight: bold
      font-size: 13px
      line-height: 18px
      padding: 0 0 0 0	
      margin: 0 auto 0 7px
    img
      clear: both
      width: 24px
      height: 24px
      margin: 0 0 0 -45px
.art_home-interview-items__number
  font-weight: bold
  width: 48px
  height: 31px
  border-radius: 4px
  font-size: 14px
  line-height: 19px
  +bg(white)
  +center

.art_home-interview-items__number--active
  background: #1061AA
  color: #FFFFFF


.art_home-social-items
  +jucb
  padding: 20px 20px  5px  20px
  *
    +bg(transparent)
    border: none
//------.art_home-social-items__item--------
.art_home-social-items__item
  flex: 0 1 50%
  margin: 0 0 15px 0
  .cheap
    +jucb
    +alic
    .cheap__img 
      width: 34px
      height: 34px
      background: #EEF2F4
      border-radius: 4px
      +center
    h5
      font-size: 13px
      line-height: 18px
      padding: 0 0 0 0	
      margin: 0 auto 0 8px


.art_home-social-items-item
  &:nth-child(2n+1)
    border-right: 1px solid	#EEF2F4!important
    padding: 0 15px 0 0
  &:nth-child(2n)
    padding: 0  0 0 11px


//------.art_inner-content__article--------
.art_inner-content__article--news
  display: block
//-------------

//------.art_inner-article__cards--------
.art_inner-article__cards
  +jucb
  padding: 0 0 20px 0

//------.card --------
.art_inner-article__card 
  min-height: 180px
  flex: 0 1 32.5%
  background: linear-gradient(180deg, #E1E1EA 53.12%, rgba(230, 230, 240, 0) 100%)
  border-radius: 6px
  &:nth-child(1)
    +background-img("/../assets/img/home/img-8.webp")
  &:nth-child(2)
    +background-img("/../assets/img/home/img-10.webp")
  &:nth-child(3)
    +background-img("/../assets/img/home/img-9.webp")


//------.art_inner-article-card__title--------
.art_inner-article-card__title
  font-family: RotondaC-Bold
  height: 104px
  background: linear-gradient(180deg, #E1E1EA 53.12%, rgba(230, 230, 240, 0) 100%)
  border-radius: 6px
  font-weight: bold
  font-size: 22px
  line-height: 30px
  letter-spacing: 0.1em
  text-transform: uppercase
  text-align: center
  padding: 20px 0 0 0	
//-------------
//------.art_inner-article__title--news--------
.art_inner-article__title--news
  margin: 0 0 20px 0
  padding: 18px 0 14px
//-------------
//------.art_inner-article__link--------
.art_inner-article__link
  margin: 0 0 0 20px
  display: inline-flex
  font-weight: normal
  font-size: 14px
  line-height: 19px
  color: #29A7DC
  text-transform: none

.art_inner-article-card
  +pro

//------.art_inner-article-serices--------
.art_inner-article-serices
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  // +alic
  +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 0 0 20px 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.art_inner-article-serices__service--------
.art_inner-article-serices__service
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 0 20px 0 0
  // padding: 0 0 0 0
  position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  // &:after
  //  content: ""
  //  background-color: white
  
  &:hover
    cursor: pointer
    & > .art_inner-article-serices__hint
      transition: all 0.2s ease-in-out
      opacity:1
      visibility: visible

    
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.art_inner-article-serices__hint--------
.art_inner-article-serices__hint
  position: relative
  position: absolute
  width: 101px
  height: 43px
  top: 100% 
  left: 50%
  z-index: 3
  background: #FFFFFF
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1)
  border-radius: 4px
  +center
  transform: translate(-50%,0%)
  opacity: 0
  visibility: hidden
  transition: all 0.2s ease-in-out
  &:after
    content: ""
    background-color: transparent
    position: absolute
    width: 20px
    height: 42px
    top: -16px
    left: 42.1%
    z-index: -1
    transform: translate(-50%,0%) rotate(235deg)
    border: 7px solid transparent
    border-left: 20px solid white