


//------.art_inner__wrapper--------
.art_inner__wrapper
  // +alic
  // +jucs
  +jucb
  width:100%
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------



//------.art_inner__title--------
.art_inner__title
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 18px 20px
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
  
  
  
  //--------------
.art_inner__content
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 1 1 50%
  // margin: 0 0 0 0
  padding: 0 20px
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.art_inner__vidget--------
.art_inner__vidget
  // +alic
  // +jucs
  // +jucb
  width: 328px
  // height:
  // flex: 0 1 100%
  margin: 0 20px 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.art_inner-content__article--------
.art_inner-content__article
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 0 20px
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------


















//-------------

//------.art_inner-article__right--------
.art_inner-article
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  display: grid
  grid-template-columns: 272px 1fr
  grid-template-rows: auto 1fr 1fr auto auto
  grid-template-areas:  "title  title ""img right"". right" "galery-title galery-title" "galery galery"
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.art_inner-article__title--------
.art_inner-article__title
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 20px 0 40px 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  grid-area: title
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.art_inner-article__img--------
.art_inner-article__img
  // +alic
  // +jucs
  // +jucb
  // width:
  height:272px
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  +background-img("/../assets/img/article-1/img-1.webp")
  grid-area: img
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.art_inner-article__right--------
.art_inner-article__right
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 0 0 0 30px
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  grid-area: right
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.art_inner-article__galery-title--------
.art_inner-article__galery-title
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 11px 0 20px 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  grid-area: galery-title
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.art_inner-article__galery--------
.art_inner-article__galery
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  grid-area: galery
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.art_inner-article-galery--------
.art_inner-article-galery
  // +alic
  // +jucs
  +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 0 0 13px 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------



//------.art_inner-article-galery__img--------
.art_inner-article-galery__img
  // +alic
  // +jucs
  // +jucb
  width:20%
  height:150px
  border-radius: 4px
  // flex: 0 1 100%
  // margin: 0 0 0 0
  position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  position: relative
  &:after
   content: ""
   background: rgba(0, 0, 0, 0.6) 
   position: absolute
   +pro
   top: 0 
   left: 0
   z-index: 2
   border-radius: 4px
  
  &:nth-child(1)
    +background-img("/../assets/img/article-1/img-5.webp")
  &:nth-child(2)
    +background-img("/../assets/img/article-1/img-2.webp")
  &:nth-child(3)
    +background-img("/../assets/img/article-1/img-3.webp")
  &:nth-child(4)
    +background-img("/../assets/img/article-1/img-4.webp")

  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0

//------.art_inner-article-galery__play--------
.art_inner-article-galery__play
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  +absolute(30px,30px,50%,50%,auto,-50%,-50%)
  border-radius: 50%
  +background-img("/../assets/img/article-1/img-6.svg")
  z-index: 3
  transition: all 1s ease-in-out
  &:hover
    cursor: pointer
    transform: translate(-50%, -50%) rotate(560deg)
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.art_inner-article__paragraph--accent--------
.art_inner-article__paragraph--accent
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 20px 0 20px 17px!important
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  +bg($bg) 
  border-left: 4px solid $active
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------art_inner-article__paragraph--------
.art_inner-article__paragraph
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 20px 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  &:last-of-type
    padding: 0px 0 20px
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.art_board.art_inner-vidget--------
.art_board.art_inner-vidget
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  display: table
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.art_inner-vidget__button-top--------
.art_inner-vidget__button-top
  // +alic
  +jucs
  // +jucb
  width: 100%
  height:50px
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 0 0 0 20px
  border-radius: 4px 4px 0px 0px
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  +bg($button)
  font-weight: bold
  line-height: 19px
  text-transform: uppercase
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.art_inner-vidget__items--------
.art_inner-vidget__items
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 22px 0 20px 0
  padding: 0 20px
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  +fdc
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.art_inner-vidget__item--------
.art_inner-vidget__item
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  margin:  0 0 12px
  height:68px
  &:last-of-type
    margin: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.art_inner-vidget-item--------
.art_inner-vidget-item

//-------------
//------.art_inner-vidget-item__icon--------
.art_inner-vidget-item__icon
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  +absolute(60px,60px,16px,auto,10px,0%,0%)
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.art_inner-vidget-item__link--------
.art_inner-vidget-item__link
  +alic
  // +jucs
  // +jucb
  // width:
  +pro
  // flex: 0 1 100%
  padding: 0 0 0 20px
  
  position: relative
  border-radius: 4px
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  +bg($bg)
  overflow: hidden
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.art_inner-vidget-item--active--------
.art_inner-vidget-item--active
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  a
    +bg($active)
    color: white
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------